<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>我的好友</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>兄弟</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>寝室</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>高中</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>iOS</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>同学</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>大学</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>MAD</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>。。。</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>动漫社</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用1</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用2</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用3</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用4</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用5</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用6</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用7</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用8</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用9</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用10</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用11</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friendArray</key>
		<array>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pic1.jpg</string>
				<key>introduce</key>
				<string>班里终于出了一对祝他们幸福</string>
				<key>name</key>
				<string>隔壁老王</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>公司专用12</string>
		<key>numberOnLine</key>
		<string>3</string>
	</dict>
</array>
</plist>
